@import url("reset.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    height: 667px;
    background: no-repeat url("/assets/header-background.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header img {
    position: absolute;
    top: 51px;
    left: 69px;
    width: 207px;
}

header h1 {
    color: #FFD15B;
    font-family: 'Anton';
    font-size: 44px;
    width: 720px;
    margin-bottom: 25px;
}

.searchbar{
    background-color: white;
    border-radius: 11px;
    width: 950px;
    height: 72px;
    font-family: 'Manrope';
    padding-left: 25px;

}

.recipes-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, max(380px, 100%/4));
    gap: 20px;
    padding-top: 100px;
    justify-content: space-around;
    align-content: flex-start;
    background-color: #E5E5E5;
}

article {
    position: relative;
    font-family: 'Manrope';
    margin-bottom: 25px;
}

article img {

    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    object-fit: cover;
    height: 250px;
    width: 380px;
}

.time {
    background-color: #FFD15B;
    border-radius: 14px;
    font-size: 12px;
    position: absolute;
    top: 21px;
    right: 21px;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    height: 480px;
    background-color: white;
    padding: 25px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
}

article h2 {
    font-size: 20px;
    font-family: 'Anton';
}

article h3 {
    color: #7A7A7A;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin: 20px 0;
    font-weight: 700;
}

.description {
    font-size: 14px;
    overflow: hidden;
}

.description p {
    color: black;
    height: 83px;
}


article ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article ul li {
    width: 46%;
    margin-bottom: 20px;
}

article h4 {
    font-size: 14px;
    font-weight: 500;
}

article p {
    font-weight: 400;
    color: #7A7A7A;
}